package infrastructure

type Config struct {
	CORS struct {
		AllowOrigins []string
	}
	DB struct {
		Production struct {
			Host     string
			UserName string
			Password string
			DBName   string
		}
	}
	Routing struct {
		Port string
	}
}

func NewConfig() *Config {

	c := new(Config)

	c.CORS.AllowOrigins = []string{""}

	c.DB.Production.Host = "localhost"
	c.DB.Production.UserName = "user name"
	c.DB.Production.Password = "your password"
	c.DB.Production.DBName = "your DB name"

	c.Routing.Port = ":8080"

	return c
}